<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.CustomerDao">
    <insert id="save" parameterType="Customer">
        insert into customer2(id,name,gender,age)
         values(cus2seq.nextval,#{name},#{gender},#{age})
    </insert>

</mapper>

